div.container {
    width: 100%;
}

header {
    background-color: yellow;
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

body {
    font-family: Roboto;
}

h1 {
    color: black;
}

p {
    font-family: "Open Sans";
}

.tablink {
    background-color: #ff0000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: #111;
    display: none;
    padding: 50px;
    text-align: center;
}

#tabintro { background-color: #ccc; }
#tababout { background-color: #ccc; }

/*So basically this ctf has four flags like eg:-THe-KHC1{******} , THe-KHC2{******} , THe-KHC3{******}..ect  and the last flag will be like THe-KHC3{******}*/
/* HERE Is your first flag The-KHC1{fl4g*1} */
